<section class="top">
    <h1 class="top__title">{{breadcrumbsPage}}</h1>
    <div class="breadcrumbs">
        <ul class="breadcrumbs__list">
            <li class="breadcrumbs__item"><a class="breadcrumbs__list-link" href="#">Home</a></li>
            <li class="breadcrumbs__item"><a class="breadcrumbs__list-link" href="#">{{breadcrumbsPage}}</a></li>
        </ul>
    </div>
</section>