@import "vars";
@import "fonts";
@import "reset";
@import "libs";
@import "global";

.header {
  padding-top: 40px;
}

.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  display: flex;
  align-items: center;
  &__title {
    padding-left: 20px;
  }
}

.menu {
  &__list {
    display: flex;
  }
  &__list-item + &__list-item {
    padding-left: 45px;
  }
  &__list-link {
    font-family: "Rubik", sans-serif;
    font-weight: 500;
    font-size: 15px;
    line-height: 12px;
    color: $accent-color;
    &:hover::after {
      padding: 0 5px;
      content: "+";
    }
  }
}

.user__nav {
  display: flex;
  align-items: center;
  &-link {
    position: relative;
    padding: 24px 35px 15px 35px;
    border-radius: 50%;
  }
  &-link--search {
    padding: 22px;
    background-color: $gray-color;
    border-radius: 50%;
    height: min-content;
  }
  &-link--burger {
    padding: 18px;
    background-color: $burger-color;
    border-radius: 50%;
    height: min-content;
  }
  &-num {
    position: absolute;
    background-color: #fff;
    color: $title-color;
    border-radius: 50%;
    padding: 0 6px;
    top: 16px;
    right: 25px;
    font-size: 10px;
    line-height: 18px;
  }
  &-wrapper {
    display: flex;
    margin: 0 20px;
    background-color: $beige-color;
    border-radius: 50px 50px 50px 50px;
  }
}

.footer-top {
  display: flex;
  justify-content: center;
  &__address {
    font-family: "Rubik", sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 0;
    color: #7c7c7c;
  }
  &__item-contact {
    max-width: 200px;
    margin-right: 100px;
  }
  &__item-service {
    max-width: 131px;
    margin-right: 175px;
  }
  &__item-account {
    max-width: 100px;
    margin-right: 210px;
  }
  &__item-newsletter {
    max-width: 282px;
  }
  &__item-list,
  &__text {
    margin-top: 30px;
  }
  &__link,
  &__text {
    font-family: "Rubik", sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 34px;
    color: #7c7c7c;
  }
  &__text {
    margin-bottom: 35px;
  }
  &__title {
    @extend %dmsans-700;
    font-size: 16px;
    line-height: 40px;
    text-transform: uppercase;
    color: #1f2044;
  }
  &__form-input {
    max-width: 170px;
    border: none;
    background-color: #fff7f0;
    padding: 13px 0 15px 17px;
    &::placeholder {
      color: #234969;
      font-size: 12px;
    }
  }
  &__form-btn {
    border: none;
    background-color: #9abcca;
    padding: 13px 18px;
    margin-left: -4px;
    font-size: 14px;
    line-height: 21px;
    color: #fff;
  }
}

.footer-border {
  display: flex;
  padding-bottom: 70px;
  border-bottom: 1px solid #b2b6b8;
}

.footer-bottom {
  display: flex;
  justify-content: space-between;
  padding: 30px 0;
  &__menu {
    display: flex;
  }
  &__item {
    padding: 0 15px;
    border-right: 1px solid #8f8f8f;
  }
  &__item:last-child {
    border: none;
  }
  & a {
    font-family: "Rubik", sans-serif;
    font-weight: 400;
    color: $default-color;
    font-size: 14px;
    line-height: 32px;
  }
}

.top-slider {
  padding-top: 45px;
  margin-bottom: 55px;
  &__inner {
    background-color: $beige-color;
  }
  &__item {
    display: flex !important;
    justify-content: space-between;
    align-items: center;
    padding-left: 297px;
    padding-right: 200px;
    position: relative;
  }
  &__content {
    margin-top: 215px;
    margin-bottom: 230px;
  }
  &__title {
    max-width: 470px;
    font-family: "Rubik", sans-serif;
    font-weight: 500;
    font-size: 72px;
    line-height: 70px;
    color: #243f4d;
    margin-bottom: 45px;
  }
  &__text {
    font-family: "Rubik", sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    max-width: 374px;
    color: $accent-color;
    margin-bottom: 40px;
  }
  &__link {
    @extend %button;
  }
  &__ellipse {
    margin-left: 700px;
    width: 634px;
    height: 634px;
    position: absolute;
  }
  &__img {
    z-index: 10;
  }
}

ul.slick-dots {
  display: flex;
  justify-content: center;
  padding-bottom: 40px;
  li {
    padding: 0 10px;
    button {
      padding: 10px;
      border: none;
      border-radius: 50%;
      color: $title-color;
      font-family: "Rubik", sans-serif;
      font-weight: 500;
      font-size: 10px;
      line-height: 8px;
    }
    &.slick-active {
      button {
        background-color: #fff;
      }
    }
  }
}

.info {
  background-color: #fff7f0;
  &__items {
    display: flex;
    justify-content: space-around;
    padding: 45px 0;
  }
  &__item {
    position: relative;
    max-width: 200px;
    &:nth-child(2) {
      max-width: 215px;
    }
    &-img {
      position: absolute;
      top: 12px;
      left: -85px;
    }
    &-title {
      @extend %dmsans-700;
      font-size: 18px;
      line-height: 40px;
      color: #414141;
    }
    &--line::before,
    &--line::after {
      content: "";
      position: absolute;
      width: 1px;
      height: 190px;
      background-color: #eae5e0;
    }
    &--line::before {
      margin-top: -45px;
      margin-left: -215px;
    }
    &--line::after {
      margin-top: -115px;
      margin-left: 420px;
    }
  }
}

.filter {
  margin-bottom: 80px;
  &-btn {
    background-color: transparent;
    border: none;
    color: #8c8c8c;
    cursor: pointer;
  }
}

.mixitup-control-active {
  color: $title-color;
  @extend %dmsans-700;
}

.products {
  &__items {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 30px;
  }
  &__item {
    width: 270px;
    padding-top: 30px;
    padding-bottom: 35px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    position: relative;
    overflow: hidden;
    box-shadow: 0px 6px 47px 3px rgba(37, 37, 37, 0.05);
  }
  &__btn:hover {
    background-color: #9abcca;
    path {
      fill: #fff;
    }
  }
  &__item:hover &__btn--main {
    transform: translateY(0px);
  }
  &__item:hover &__btn--lupa {
    transform: translateX(0px);
  }
  &__item:hover &__btn--heart {
    transform: translateX(0px);
  }
  &__item-title {
    @extend %dmsans-500;
    color: $accent-color;
    line-height: 40px;
    padding-top: 70px;
    font-size: 16px;
  }
  &__price {
    @extend %dmsans-700;
    color: $burger-color;
    line-height: 40px;
  }
  &__panel {
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: absolute;
    margin-bottom: 100px;
  }
  &__btn {
    border: none;
    background-color: transparent;
    cursor: pointer;
  }
  &__btn + &__btn {
    margin-left: 10px;
  }
  &__btn {
    padding-top: 12px;
    padding-bottom: 5px;
    padding-left: 12px;
    padding-right: 10px;
    background-color: #fff;
    border-radius: 50%;
    transition: all 0.5s;
    &--main {
      transform: translateY(300px);
    }
    &--lupa {
      transform: translateX(-300px);
    }
    &--heart {
      transform: translateX(300px);
    }
  }
}

.lamp {
  margin-top: 190px;
  margin-bottom: 100px;
  &__inner {
    display: flex;
    justify-content: space-between;
  }
  &__item {
    background-color: #ffefe2;
    max-width: 850px;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
  }
  &__item-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 345px;
  }
  &__item-img {
    margin-top: -90px;
    margin-bottom: 90px;
  }
  &__item-title {
    @extend %dmsans-700;
    font-size: 26px;
    line-height: 32px;
    color: $accent-color;
    margin-bottom: 30px;
  }
  &__item-text {
    font-family: "Rubik", sans-serif;
    font-weight: 400;
    color: $accent-color;
    margin-bottom: 30px;
  }
  &__item-link {
    @extend %button;
    color: #2b6373;
    background-color: transparent;
    border: 1px solid #b3b8b6;
    border-radius: 5%;
  }
}

.design-title {
  margin-bottom: 25px;
}

.design__inner {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-gap: 30px;
  margin-bottom: 120px;
  &-item {
    @extend %dmsans-700;
    background-color: #f8f8f8;
    padding-top: 40px;
    padding-left: 35px;
    padding-bottom: 120px;
    padding-right: 165px;
    overflow: hidden;
    position: relative;
    &:nth-child(3) {
      .design__inner-img {
        padding-right: 30px;
        padding-bottom: 55px;
      }
    }
    &:nth-child(5) {
      .design__inner-img {
        padding-right: 30px;
        padding-bottom: 55px;
      }
    }
  }
  &-title {
    max-width: 170px;
    margin-bottom: 20px;
    font-size: 20px;
    color: $title-color;
    z-index: 10;
    position: relative;
  }
  &-img {
    right: 0;
    bottom: 0;
    position: absolute;
  }
  &-item-type {
    color: $burger-color;
    position: relative;
    z-index: 10;
  }
}

.video {
  padding: 185px 0;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
  margin-bottom: 120px;
  &-button {
    margin: 0 auto;
  }
}

.ideas {
  margin-bottom: 80px;
  position: relative;
  overflow: hidden;
  &:before {
    content: "";
    position: absolute;
    background-color: #fff7f0;
    width: 100%;
    height: 100%;
    z-index: -1000;
    margin-top: 367px;
  }
  & .title {
    text-align: left;
  }
  &__top {
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
  }
  &__title--terms {
    text-align: inherit;
  }
  &__title--terms,
  &__link--terms {
    color: $accent-color;
  }
  &__link {
    font-size: 12px;
    @extend %dmsans-700;
    padding-right: 25px;
    position: relative;
    &::after {
      content: "";
      position: absolute;
      width: 7px;
      height: 11px;
      background-image: url("../images/icons/high-black-arrow.svg");
      background-repeat: no-repeat;
      background-position: top right;
      right: 0;
      top: 8px;
    }
  }
  &__items {
    display: flex;
    justify-content: space-between;
  }
  &-item {
    display: flex;
    flex-direction: column;
    width: 370px;
    box-shadow: 0px 6px 47px 3px rgba(37, 37, 37, 0.05);
    background: #fff;
    &:last-child {
      .ideas__text {
        margin-bottom: 30px;
      }
    }
  }
  &-item__text {
    margin-top: 35px;
    padding: 0 55px 25px 30px;
  }
  &__subtitle {
    color: #fff;
    font-size: 14px;
    line-height: 20px;
    @extend %poppins-700;
    background-color: $burger-color;
    border: 1px solid $burger-color;
    position: absolute;
    padding: 10px 30px;
    border-radius: 24px;
    margin-top: -60px;
  }
  &__text {
    position: relative;
    font-size: 18px;
    @extend %dmsans-500;
    color: $title-color;
    padding-bottom: 10px;
  }
  &-item__publicdetails {
    display: flex;
    border-top: 1px solid $gray-color;
    padding-top: 10px;
    font-size: 12px;
    font-family: "Rubik", sans-serif;
    font-weight: 400;
    color: $accent-color;
  }
  &-item__date {
    margin-right: 30px;
    padding-left: 20px;
    position: relative;
    &::before {
      content: "";
      width: 20px;
      height: 20px;
      top: 5px;
      left: -5px;
      position: absolute;
      background-image: url("../images/icons/time.svg");
      background-repeat: no-repeat;
      background-position: top left;
    }
  }
  &-item__author {
    padding-left: 12px;
    position: relative;
    &::before {
      content: "";
      width: 20px;
      height: 20px;
      top: 5px;
      left: -12px;
      position: absolute;
      background-image: url("../images/icons/user-grey.svg");
      background-repeat: no-repeat;
      background-position: top left;
    }
  }
  &__partners-list {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 120px 0 70px;
    padding: 70px 0;
  }
  &__partners {
    background-color: #fff7f0;
  }
}

.top {
  background-color: #ecf1f4;
  padding: 30px 0;
  margin-top: 50px;
  &__title {
    margin-bottom: 5px;
    @extend %rubik-300;
    color: $accent-color;
  }
}

.modal {
  padding: 115px 0;
  margin: 0 auto;
  max-width: 470px;
  &__label {
    display: block;
    margin-bottom: 30px;
    @extend %rubik-400;
    font-size: 14px;
    color: #2b6373;
  }
  &__input {
    display: block;
    width: 100%;
    border: 1px solid $gray-color;
    background-color: #fff;
    margin-top: 5px;
    height: 60px;
    padding: 0 10px;
  }
  &__bottom {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
    border-bottom: 1px solid $gray-color;
  }
  &__btn {
    border: none;
    background-color: $burger-color;
    width: 100%;
    padding: 15px 0;
    color: #fff;
    font-size: 18px;
    @extend %rubik-700;
    margin-bottom: 30px;
    cursor: pointer;
  }
  &__btn--create {
    display: block;
    width: 100%;
    padding: 15px 0;
    border: 1px solid #a3bbc8;
    background-color: #fff;
    color: $burger-color;
    font-size: 18px;
    @extend %rubik-700;
    cursor: pointer;
  }
  &__link {
    color: #2b6373;
    display: block;
    margin-bottom: 20px;
  }
  &__reg {
    text-align: center;
  }
}

.terms-conditions {
  padding: 115px 0;
  &__item {
    padding-bottom: 75px;
    &:last-child {
      padding-bottom: 0;
    }
  }
  &__title {
    @extend %rubik-700;
    font-size: 24px;
    line-height: 40px;
    color: $accent-color;
    margin-bottom: 35px;
  }
  &__text {
    @extend %rubik-400;
    font-size: 16px;
    line-height: 30px;
    color: $accent-color;
  }
  &__text--list {
    @extend %rubik-400;
    font-size: 16px;
    line-height: 30px;
    color: $accent-color;
    margin-bottom: 30px;
    padding-left: 40px;
    position: relative;
    &::before {
      content: "01.";
      position: absolute;
      width: 20px;
      height: 15px;
      top: 0;
      left: 0;
    }
    &:nth-child(2) {
      &::before {
        content: "01.";
        position: absolute;
        width: 20px;
        height: 15px;
        top: 0;
        left: 0;
      }
    }
    &:nth-child(3) {
      &::before {
        content: "02.";
        position: absolute;
        width: 20px;
        height: 15px;
        top: 0;
        left: 0;
      }
    }
    &:nth-child(4) {
      &::before {
        content: "03.";
        position: absolute;
        width: 20px;
        height: 15px;
        top: 0;
        left: 0;
      }
    }
    &:nth-child(5) {
      &::before {
        content: "04.";
        position: absolute;
        width: 20px;
        height: 15px;
        top: 0;
        left: 0;
      }
    }
    &:nth-child(6) {
      margin-bottom: 0;
      &::before {
        content: "05.";
        position: absolute;
        width: 20px;
        height: 15px;
        top: 0;
        left: 0;
      }
    }
  }
}

.about {
  padding: 115px 0;
  &__inner {
    display: flex;
  }
  &__img {
    max-width: 570px;
    max-height: 675px;
    width: 100%;
    height: 100%;
  }
  &__content {
    padding: 80px 0 80px 40px;
    max-width: 570px;
  }
  &__content-top {
    display: flex;
    align-items: center;
  }
  &__content-num {
    @extend %rubik-700;
    font-size: 140px;
    line-height: 32px;
    color: $burger-color;
  }
  &__content-top__text {
    @extend %rubik-400;
    color: $accent-color;
    margin-left: 30px;
    margin-bottom: -13px;
  }
  &__content-info {
    padding: 50px 0 60px 0;
    border-bottom: 1px solid #e5ebf1;
    text-align: left;
  }
  &__content-text {
    @extend %rubik-400;
    color: $accent-color;
  }
  &__content-achievements {
    display: flex;
    margin-top: 30px;
  }
  &__content-item {
    padding: 10px 45px 10px 55px;
    position: relative;
    margin-right: 45px;
    border-right: 1px solid #e5ebf1;
    & .title {
      margin-bottom: 0;
    }
    &:nth-child(2) {
      .about__content-item__inner {
        &::before {
          background-image: url("../images/icons/speaker.svg");
        }
      }
    }
    &:nth-child(3) {
      border: none;
      .about__content-item__inner {
        &::before {
          background-image: url("../images/icons/award.svg");
        }
      }
    }
    &__inner {
      &:nth-child(2) {
        padding: 0 50px 0 50px;
      }
      &:nth-child(3) {
        padding: 0 0 0 50px;
      }
    }
  }
  &__content-item__inner::before {
    content: "";
    position: absolute;
    background-image: url("../images/icons/blank.svg");
    top: 10px;
    left: 0;
    width: 40px;
    height: 45px;
    background-repeat: no-repeat;
  }
  &__content-item__subtitle {
    @extend %dmsans-700;
    color: $default-color;
  }
}

.achievements {
  padding: 75px 0;
  margin-bottom: 115px;
  background-color: $beige-color;
  &__items {
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
  }
  &__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    .title {
      margin: 20px 0 20px 0;
    }
  }
  &__item-text {
    @extend %dmsans-700;
    font-size: 18px;
    color: $accent-color;
  }
}

.team {
  padding-bottom: 115px;
  &__inner {
    display: flex;
    gap: 100px;
  }
  &__column-text {
    max-width: 300px;
    display: flex;
    flex-direction: column;
    gap: 40px;
    h2 {
      margin-bottom: 0;
    }
  }
  &__text {
    color: $accent-color;
    @extend %rubik-400;
  }
  &__link {
    @extend %poppins-600;
    border-radius: 5px;
    padding: 0 30px 0 15px;
    max-width: 170px;
    display: flex;
    justify-content: space-between;
    font-size: 15px;
    line-height: 55px;
    color: #fff;
    background-color: $burger-color;
  }
  &__items {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 30px;
  }
  &__item {
    width: 370px;
    height: 318px;
    position: relative;
    margin-bottom: 60px;
  }
  &__item-info {
    display: flex;
    gap: 60px;
    align-items: center;
    box-shadow: 0px 6px 57px 0px rgba(37, 37, 37, 0.05);
    width: max-content;
    padding: 30px 20px 25px 25px;
    margin-top: -50px;
    background-color: #fff;
    position: absolute;
    bottom: -60px;
  }
  &__item-text {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
  &__item-text__name {
    @extend %dmsans-700;
    font-size: 22px;
    line-height: 26px;
    color: #2b6373;
  }
  &__item-links {
    display: flex;
    gap: 10px;
  }
}

.product {
  margin-top: 120px;
  &__inner {
    display: flex;
    gap: 30px;
  }
  &__filters {
    max-width: 270px;
    width: 100%;
  }
  &__content-inner {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    align-content: start;
  }
  &__content {
    & .products__item-title {
      line-height: 15px;
      padding-top: 60px;
    }
    & .products__item {
      max-height: 380px;
      padding-bottom: 32px;
    }
  }
  &__content-inner--hor {
    display: flex;
    flex-direction: column;
    gap: 40px;
    & ~ .pagination {
      justify-content: flex-start;
    }
  }
  &__item {
    max-width: 870px;
    max-height: 500px;
    height: 100%;
    width: 100%;
    &:first-child .product__item-link {
      text-transform: uppercase;
      padding: 10px 36px;
      @extend %rubik-400;
      letter-spacing: 1.125px;
      color: #fff;
      border-radius: 5px;
    }
  }
  &__item-inner {
    display: flex;
    align-items: center;
    gap: 55px;
    & .star {
      padding-bottom: 30px;
    }
  }
  &__item-img {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 370px;
    height: 500px;
    width: 100%;
    border: 2px solid #f2f2f2;
    background-color: #fefefe;
  }
  &__item-title {
    @extend %rubik-400;
    font-size: 40px;
    line-height: 26px;
    color: $title-color;
    padding-bottom: 20px;
  }
  &__price {
    @extend %rubik-400;
    font-size: 30px;
    line-height: 45px;
    color: $title-color;
    padding-bottom: 10px;
  }
  &__item-info {
    @extend %rubik-400;
    color: $accent-color;
    padding-bottom: 40px;
  }
  &__item-links {
    display: flex;
    gap: 10px;
    // &:first-child {
    //   .product__item-link {
    //     text-transform: uppercase;
    //     padding: 10px 36px;
    //     @extend %rubik-400;
    //     letter-spacing: 1.125px;
    //     color: #fff;
    //   }
    // }
  }
  &__item-link {
    padding: 15px 15px 6px;
    box-shadow: 0px 6px 47px rgba(37, 37, 37, 0.05);
    &:first-child {
      background-color: $burger-color;
      path {
        fill: #fff;
      }
      &:hover {
        cursor: pointer;
      }
    }
  }
}

.filter__item {
  margin-bottom: 60px;
  &-box {
    position: relative;
    span::after {
      content: "";
      position: absolute;
      width: 40px;
      height: 2px;
      top: 12px;
      background-image: url("../images/icons/line.svg");
    }
  }
}

.filter__title {
  @extend %dmsans-700;
  font-size: 18px;
  color: $accent-color;
  display: inline-block;
  text-transform: uppercase;
  padding-right: 15px;
  margin-bottom: 30px;
}

.filter-category {
  &__label {
    cursor: pointer;
  }
  &__input {
    @extend %checkbox--hidden;
    &:checked + .filter-category__checkbox {
      background-color: $gray-color;
    }
  }
  &__checkbox {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px 15px 15px;
    border-radius: 5px;
    span {
      @extend %rubik-400;
      line-height: 43px;
      color: $accent-color;
    }
  }
}

.irs-min,
.irs-max {
  display: none;
}

.irs--flat {
  .irs-handle > i:first-child {
    width: 15px;
    height: 15px;
    background-color: $burger-color;
    top: 0;
  }
  .irs-handle {
    top: -5px;
    width: 15px;
    height: 15px;
  }
  .irs-line {
    background-color: $gray-color;
    top: 0;
    height: 3px;
    border-radius: 0;
  }
  .irs-bar {
    top: 0;
    height: 4px;
    background-color: $burger-color;
  }
}

.irs--flat .irs-from,
.irs--flat .irs-to,
.irs--flat .irs-single {
  display: none;
}

.filter-price {
  &__label {
    span {
      display: flex;
      justify-content: space-between;
      p {
        display: flex;
      }
    }
  }
  &__from,
  &__to {
    @extend %rubik-400;
    color: $accent-color;
    font-size: 14px;
  }
}

.filter-brand {
  &__input {
    @extend %checkbox--hidden;
    &:checked + .filter-brand__checkbox {
      background-color: $gray-color;
    }
    &:checked ~ .filter-brand__checkbox span:last-child {
      @extend %rubik-400;
      color: $accent-color;
      line-height: 43px;
    }
  }
  &__checkbox {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 15px;
    border-radius: 5px;
    span {
      @extend %rubik-400;
      color: $accent-color;
      line-height: 43px;
      &:last-child {
        color: #b4b4b4;
      }
    }
  }
}

.filter-recent {
  &__item {
    display: flex;
    margin-bottom: 20px;
  }
  &__img {
    width: 65px;
    height: 65px;
    border: 3px solid #f2f2f2;
    overflow: hidden;
    img {
      margin: 0 auto;
    }
  }
  &__content {
    margin-left: 20px;
  }
}

.pagination {
  margin-top: 100px;
  display: flex;
  justify-content: center;
  &__list {
    display: flex;
    gap: 15px;
  }
  &__link {
    color: $accent-color;
    @extend %rubik-400;
    padding: 15px 20px;
    border: 1px solid $burger-color;
    &--active {
      color: #fff;
      background-color: $burger-color;
    }
  }
}

.product-page {
  padding: 115px 0;
  &__inner {
  }
}

.product-one {
  &__inner {
    display: flex;
    gap: 70px;
  }
  &__title {
    font-size: 40px;
    color: $title-color;
    @extend %rubik-400;
    line-height: 26px;
    margin-bottom: 25px;
  }
  &__price {
    margin: 35px 0;
    font-size: 30px;
    color: $title-color;
    @extend %rubik-400;
  }
  &__text {
    @extend %rubik-400;
    color: $accent-color;
    max-width: 505px;
    margin-bottom: 35px;
  }
  &__form {
    margin-bottom: 55px;
  }
  &__btn {
    margin-left: 25px;
    padding: 10px 40px;
    background-color: $burger-color;
    color: #fff;
    text-transform: uppercase;
    @extend %rubik-400;
    font-size: 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  &__info {
    @extend %rubik-400;
    color: $accent-color;
  }
}

.product-slide {
  display: flex;
  &__thumb {
    width: 140px;
    margin-right: 25px;
  }
  &__thumb-item {
    border: 2px solid #f1efef;
    height: 160px;
    margin-bottom: 10px;
    overflow: hidden;
    &--last {
      margin-bottom: 0;
    }
    img {
      margin: 0 auto;
    }
  }
  &__big {
    width: 390px;
  }
  &__big-item {
    border: 2px solid #f1efef;
    height: 526px;
    display: flex !important;
    justify-content: center;
    img {
      object-fit: none;
    }
  }
}

.jq-number {
  &.focused .jq-number__field {
    border: 1px solid $burger-color;
  }
  &__field {
    width: 50px;
    height: 50px;
    border: 1px solid $burger-color;
    box-shadow: none;
    border-radius: 0;
    margin-left: 50px;
    input {
      font-size: 15px;
      text-transform: uppercase;
      @extend %rubik-400;
      line-height: 45px;
      color: $title-color;
      padding: 0;
      text-align: center;
    }
  }
  &__spin {
    box-shadow: none;
    background: transparent;
    border-bottom-color: transparent;
    border-radius: 0;
    border: 1px solid $burger-color;
    text-shadow: none;
    width: 50px;
    height: 50px;
    &:hover {
      background: none;
    }
    &::after {
      top: 0;
      left: 0;
      border-right: none;
      border-top: none;
      border-bottom: none;
      border-left: none;
    }
    &.minus::after {
      content: "-";
      position: absolute;
      top: 6px;
      left: 20px;
      border-right: none;
      border-top: none;
      border-bottom: none;
      border-left: none;
    }
    &.plus::after {
      content: "+";
      position: absolute;
      top: 6px;
      left: 20px;
      border-right: none;
      border-top: none;
      border-bottom: none;
      border-left: none;
    }
    &.minus {
      left: 0;
      border-right: none;
    }
    &.plus {
      right: -15px;
      border-left: none;
    }
  }
}

.product-tabs {
  margin-top: 80px;
  &__inner {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-bottom: 35px;
  }
  &__item {
    background-color: $gray-color;
    border-radius: 5px;
    max-width: 240px;
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 10px 0;
    cursor: pointer;
    &--active {
      background-color: $burger-color;
      .product-tabs__item-link {
        color: #fff;
      }
    }
  }
  &__item-link {
    color: $accent-color;
    text-align: center;
    margin: 0 auto;
    @extend %rubik-500;
    font-size: 18px;
    line-height: 40px;
  }
  &__content-item {
    display: none;
    @extend %rubik-400;
    color: $accent-color;
    &--active {
      display: block;
    }
  }
}

.related {
  margin-bottom: 110px;
  &__title {
    color: $accent-color;
    font-size: 36px;
    @extend %dmsans-700;
  }
  &__inner {
    display: flex;
    gap: 30px;
    position: relative;
    margin-top: 55px;
  }
  .products__item {
    height: 380px;
    display: flex !important;
  }
  .products__item-title {
    padding-top: 35px;
  }
  .slick-slide {
    margin: 30px;
    img {
      max-width: 190px;
    }
  }
}

.slick-arrow {
  font-size: 0;
  position: absolute;
  top: -95px;
  right: 0;
  border: 2px solid $gray-color;
  border-radius: 5px;
  background-color: transparent;
  width: 46px;
  height: 46px;
  &:hover {
    border-color: $burger-color;
  }
  &::after {
    content: "";
    position: absolute;
    width: 22px;
    height: 9px;
    top: 17px;
    right: 10px;
    background-image: url("../images/icons/arrow-dark.svg");
  }
}

.slick-prev {
  right: 65px;
  &::after {
    transform: rotate(180deg);
  }
}

.blog {
  padding-top: 120px;
  &__inner {
    display: flex;
  }
  &__content {
    margin-right: 70px;
  }
  &__item {
    max-width: 830px;
    & + .blog__item {
      margin-top: 50px;
    }
  }
  &__item-top {
    position: relative;
  }
  &__item-img {
    max-width: 830px;
    display: block;
    object-fit: cover;
  }
  &__item-publickdetails {
    display: flex;
    background-color: $burger-color;
    gap: 20px;
    padding: 25px 20px;
    min-width: 275px;
    justify-content: center;
    position: absolute;
    bottom: 0;
  }
  &__item-date,
  &__item-author {
    @extend %rubik-400;
    font-size: 12px;
    color: #fff;
    path {
      fill: #fff;
    }
    span {
      margin-left: 5px;
    }
  }
  &__item-content {
    display: flex;
    flex-direction: column;
    gap: 30px;
  }
  &__item-title {
    @extend %rubik-400;
    margin-top: 30px;
    font-size: 36px;
    line-height: 26px;
    color: $title-color;
  }
  &__item-text {
    @extend %rubik-400;
    color: $accent-color;
    max-width: 800px;
  }
  &__item-btn {
    color: $burger-color;
    border: 1px solid $burger-color;
    font-size: 15px;
    line-height: 12px;
    @extend %nunito-700;
    padding: 20px 65px 20px 20px;
    max-width: 178px;
    background-color: transparent;
    position: relative;
    cursor: pointer;
    &::after {
      content: "";
      position: absolute;
      width: 25px;
      height: 10px;
      right: 20px;
      background-image: url("../images/icons/arrow-dark.svg");
    }
  }
  &-pagination {
    justify-content: flex-start;
  }
}

.blog-aside {
  width: 100%;
  .filter-category {
    .filter-category__checkbox {
      padding: 10px 20px 10px 15px;
    }
  }
  &__search {
    margin-bottom: 55px;
  }
  &__search-form {
    display: flex;
    align-items: center;
    position: relative;
  }
  &__search-input {
    border: 1px solid $burger-color;
    border-right: none;
    border-radius: 5px;
    height: 40px;
    outline: none;
    opacity: 0.4;
  }
  &__search-btn {
    position: absolute;
    top: -2px;
    right: 35px;
    width: 40px;
    height: 42px;
    background-color: #ecf1f4;
    border: none;
    border-radius: 5px;
    padding-left: 12px;
    background-image: url("../images/icons/search.svg");
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
  }
}

.blog-recent {
  &__item {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 15px;
    & + .blog-recent__item {
      margin-top: 20px;
    }
  }
  &__item-title {
    display: block;
    @extend %rubik-400;
    font-size: 14px;
    line-height: 20px;
    color: $title-color;
    max-width: 175px;
    cursor: pointer;
  }
  &__img {
    max-height: 71px;
    object-fit: cover;
  }
  &__date {
    color: $default-color;
    font-size: 12px;
    path {
      fill: $default-color;
    }
  }
}

.blog-one {
  .blog__item {
    margin-bottom: 60px;
  }
  &__text-inner {
    h3 {
      @extend %rubik-400;
      font-size: 36px;
      line-height: 26px;
      color: $title-color;
      margin: 40px 0px 20px;
    }
    h5.blog-one__title {
      @extend %rubik-500;
      color: $accent-color;
      font-size: 18px;
    }
    h5 {
      @extend %rubik-700;
      color: $accent-color;
      margin-bottom: 10px;
      font-size: 16px;
    }
    p {
      @extend %rubik-400;
    }
    p.blog-one__text {
      color: $accent-color;
      margin-bottom: 40px;
      max-width: max-content;
    }
    div.blog-one__box {
      display: flex;
      align-items: center;
      gap: 30px;
      margin-bottom: 40px;
      p {
        max-width: 450px;
      }
    }
    blockquote {
      @extend %rubik-400;
      color: $accent-color;
      background-color: #ecf1f4;
      border-left: 6px solid $burger-color;
      padding: 25px 90px 25px 35px;
      margin-bottom: 45px;
      display: flex;
      flex-direction: column;
      gap: 10px;
      span {
        width: 100%;
        position: relative;
        padding-left: 40px;
        &::before {
          content: "";
          position: absolute;
          width: 20px;
          height: 4px;
          background-color: $burger-color;
          left: 0;
          top: 12px;
        }
      }
    }
  }
  &__img {
    width: 323px;
    height: 210px;
  }
}

.people-info {
  border-top: 2px solid #ececec;
  border-bottom: 2px solid #ececec;
  margin-bottom: 60px;
  padding: 20px 0;
  &__inner {
    display: flex;
    justify-content: space-between;
  }
  &__left {
    display: flex;
    align-items: center;
  }
  &__right {
    max-width: 215px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  &__img {
    width: 76px;
    height: 76px;
    object-fit: cover;
    margin-right: 25px;
  }
  &__name {
    margin-bottom: 10px;
    @extend %rubik-500;
    color: $title-color;
    font-size: 18px;
    line-height: 24px;
  }
  &__position {
    @extend %rubik-400;
  }
  &__tags {
    line-height: 26px;
    @extend %rubik-400;
    display: flex;
    gap: 30px;
    span {
      color: $title-color;
    }
  }
  &__share {
    display: flex;
    align-items: center;
    gap: 20px;
  }
}

.comments {
  &__title {
    @extend %rubik-700;
    font-size: 24px;
    line-height: 36px;
    color: $accent-color;
    margin-bottom: 50px;
  }
  &__item {
    border-top: 2px solid #ececec;
    padding-top: 30px;
    display: flex;
    &:first-child {
      padding: 0;
      border: none;
    }
    &--reply {
      margin-left: 130px;
    }
  }
  &__item-img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    margin-right: 30px;
  }
  &__item-content {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
  &__item-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__item-name {
    @extend %rubik-700;
    color: $accent-color;
    font-size: 16px;
  }
  &__item-info {
    font-size: 14px;
    @extend %rubik-400;
  }
  &__item-text {
    color: #545774;
  }
  &__item-link {
    font-size: 14px;
    @extend %rubik-700;
    color: $accent-color;
    margin-bottom: 30px;
    position: relative;
    &::after {
      content: '';
      position: absolute;
      width: 12px;
      height: 14px;
      left: 45px;
      top: 9px;
      background-image: url('../images/icons/blog-one-arrow.svg');
    }
  }
}

.post {
  margin-top: 45px;
  &__title {
    @extend %rubik-700;
    font-size: 24px;
    color: $accent-color;
    margin-bottom: 50px;
  }
}

.post-form {
  &__box-input {
    display: flex;
    gap: 30px;
    margin-bottom: 20px;
  }
  &__text-input {
    width: 400px;
    height: 45px;
    padding: 0 20px;
    border: 1px solid #ececec;
    outline: none;
    &:focus {
      border: 1px solid $burger-color;
    }
  }
  &__textarea {
    resize: none;
    width: 100%;
    height: 115px;
    padding: 10px 20px;
    border: 1px solid #ececec;
    outline: none;
    margin-bottom: 40px;
    &:focus {
      border: 1px solid $burger-color;
    }
  }
  &__btn {
    border: none;
    background-color: $burger-color;
    text-transform: uppercase;
    color: #fff;
    @extend %rubik-400;
    font-size: 14px;
    line-height: 21px;
    padding: 15px 30px;
    cursor: pointer;
  }
}