@import "vars";
@import "fonts";
@import "reset";
@import "libs";
@import "global";

.header {
  padding-top: 40px;
}

.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  display: flex;
  align-items: center;
  &__title {
    padding-left: 20px;
  }
}

.menu {
  &__list {
    display: flex;
  }
  &__list-item + &__list-item {
    padding-left: 45px;
  }
  &__list-link {
    font-family: "Rubik", sans-serif;
    font-weight: 500;
    font-size: 15px;
    line-height: 12px;
    color: $accent-color;
    &:hover::after {
      padding: 0 5px;
      content: "+";
    }
  }
}

.user__nav {
  display: flex;
  align-items: center;
  &-link {
    position: relative;
    padding: 24px 35px 15px 35px;
    border-radius: 50%;
  }
  &-link--search {
    padding: 22px;
    background-color: $gray-color;
    border-radius: 50%;
    height: min-content;
  }
  &-link--burger {
    padding: 18px;
    background-color: $burger-color;
    border-radius: 50%;
    height: min-content;
  }
  &-num {
    position: absolute;
    background-color: #fff;
    color: $title-color;
    border-radius: 50%;
    padding: 0 6px;
    top: 16px;
    right: 25px;
    font-size: 10px;
    line-height: 18px;
  }
  &-wrapper {
    display: flex;
    margin: 0 20px;
    background-color: $beige-color;
    border-radius: 50px 50px 50px 50px;
  }
}

.footer-top {
  display: flex;
  justify-content: center;
  padding-top: 80px;
  &__address {
    font-family: "Rubik", sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 0;
    color: #7c7c7c;
  }
  &__item-contact {
    max-width: 200px;
    margin-right: 100px;
  }
  &__item-service {
    max-width: 131px;
    margin-right: 175px;
  }
  &__item-account {
    max-width: 100px;
    margin-right: 210px;
  }
  &__item-newsletter {
    max-width: 282px;
  }
  &__item-list,
  &__text {
    margin-top: 30px;
  }
  &__link,
  &__text {
    font-family: "Rubik", sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 34px;
    color: #7c7c7c;
  }
  &__text {
    margin-bottom: 35px;
  }
  &__title {
    @extend %dmsans-700;
    font-size: 16px;
    line-height: 40px;
    text-transform: uppercase;
    color: #1f2044;
  }
  &__form-input {
    max-width: 170px;
    border: none;
    background-color: #fff7f0;
    padding: 13px 0 15px 17px;
    &::placeholder {
      color: #234969;
      font-size: 12px;
    }
  }
  &__form-btn {
    border: none;
    background-color: #9abcca;
    padding: 13px 18px;
    margin-left: -4px;
    font-size: 14px;
    line-height: 21px;
    color: #fff;
  }
}

.footer-border {
  display: flex;
  padding-bottom: 70px;
  border-bottom: 1px solid #b2b6b8;
}

.footer-bottom {
  display: flex;
  justify-content: space-between;
  padding: 30px 0;
  &__menu {
    display: flex;
  }
  &__item {
    padding: 0 15px;
    border-right: 1px solid #8f8f8f;
  }
  &__item:last-child {
    border: none;
  }
  & a {
    font-family: "Rubik", sans-serif;
    font-weight: 400;
    color: $default-color;
    font-size: 14px;
    line-height: 32px;
  }
}

.top-slider {
  padding-top: 45px;
  margin-bottom: 55px;
  &__inner {
    background-color: $beige-color;
  }
  &__item {
    display: flex !important;
    justify-content: space-between;
    align-items: center;
    padding-left: 297px;
    padding-right: 200px;
    position: relative;
  }
  &__content {
    margin-top: 215px;
    margin-bottom: 230px;
  }
  &__title {
    max-width: 470px;
    font-family: "Rubik", sans-serif;
    font-weight: 500;
    font-size: 72px;
    line-height: 70px;
    color: #243f4d;
    margin-bottom: 45px;
  }
  &__text {
    font-family: "Rubik", sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    max-width: 374px;
    color: $accent-color;
    margin-bottom: 40px;
  }
  &__link {
    @extend %bg;
  }
  &__ellipse {
    margin-left: 700px;
    width: 634px;
    height: 634px;
    position: absolute;
  }
  &__img {
    z-index: 10;
  }
}

ul.slick-dots {
  display: flex;
  justify-content: center;
  padding-bottom: 40px;
  li {
    padding: 0 10px;
    button {
      padding: 10px;
      border: none;
      border-radius: 50%;
      color: $title-color;
      font-family: "Rubik", sans-serif;
      font-weight: 500;
      font-size: 10px;
      line-height: 8px;
    }
    &.slick-active {
      button {
        background-color: #fff;
      }
    }
  }
}

.info {
  background-color: #fff7f0;
  &__items {
    display: flex;
    justify-content: space-around;
    padding: 45px 0;
  }
  &__item {
    position: relative;
    max-width: 200px;
    &:nth-child(2) {
      max-width: 215px;
    }
    &-img {
      position: absolute;
      top: 12px;
      left: -85px;
    }
    &-title {
      @extend %dmsans-700;
      font-size: 18px;
      line-height: 40px;
      color: #414141;
    }
  }
}

.filter {
  margin-bottom: 80px;
  &-btn {
    background-color: transparent;
    border: none;
    color: #8c8c8c;
    cursor: pointer;
  }
}

.mixitup-control-active {
  color: $title-color;
  @extend %dmsans-700;
}

.products {
  &__items {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 30px;
  }
  &__item {
    width: 270px;
    padding-top: 30px;
    padding-bottom: 35px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    position: relative;
    overflow: hidden;
    box-shadow: 0px 6px 47px 3px rgba(37, 37, 37, 0.05);
  }
  &__item:hover &__icon--main {
    transform: translateY(0px)
  }
  &__item:hover &__icon--lupa {
    transform: translateX(0px)
  }
  &__item:hover &__icon--heart {
    transform: translateX(0px)
  }
  &__item-title {
    @extend %dmsans-500;
    color: $accent-color;
    line-height: 40px;
    padding-top: 70px;
    font-size: 16px;
  }
  &__price {
    @extend %dmsans-700;
    color: $burger-color;
    line-height: 40px;
  }
  &__panel {
    display: flex;
    justify-content: space-around;
    position: absolute;
    margin-bottom: 100px;
  }
  &__btn {
    border: none;
    background-color: transparent;
    cursor: pointer;
  }
  &__btn + &__btn {
    padding-left: 10px;
  }
  &__icon {
    padding: 15px;
    background-color: #fff;
    border-radius: 50%;
    transition: all .5s;
    &--main {
      background-color: $burger-color;
      transform: translateY(300px)
    }
    &--lupa {
      transform: translateX(-300px)
    }
    &--heart {
      transform: translateX(300px)
    }
  }
}










@import "media";
