<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/index.min.css">
  </head>

  <body>

    {% include 'app/module/_header/_header.html' %}

    <main class='main'>

      {% include 'app/module/_top-slider/_top-slider.html' %}
      <section class="products">
        <div class="container-icon">
          <h2 class="title">Products of the week</h2>
          <div class="filter">
            <button class="filter-btn" data-filter="all">All</button>
            <button class="filter-btn" data-filter=".category-a">Furnitures</button>
            <button class="filter-btn" data-filter=".category-b">Chairs</button>
            <button class="filter-btn" data-filter=".category-c">Lighting</button>
            <button class="filter-btn" data-filter=".category-d">Decor</button>
          </div>
          <div class="products__items">
            {% include 'app/module/_products/_products.html' %}
          </div>
        </div>
      </section>

      {% include 'app/module/_lamp/_lamp.html' %}
      {% include 'app/module/_design/_design.html' %}
      {% include 'app/module/_video/_video.html' %}
      {% include 'app/module/_ideas/_ideas.html' %}

    </main>

    {% include 'app/module/_footer/_footer.html' %}

    <script src="js/main.min.js" defer></script>
  </body>

</html>