<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Landing</title>
    <link rel="shortcut icon" type="image/x-icon" href="images/logo.svg"/>
    <link rel="stylesheet" href="css/index.min.css">
  </head>

  <body>

    {% include 'app/module/_header/_header.html' %}

    <main class='main'>

      {% include 'app/module/_top-slider/_top-slider.html' %}
      <section class="products">
        <div class="container-icon">
          <h2 class="title">Products of the week</h2>
            {% include 'app/module/_mixitup-filter/_mixitup-filter.html' %}
          <ul class="products__items" id="products__items">
            {% include 'app/module/_products/_products.html' %}
          </ul>
        </div>
      </section>

      {% include 'app/module/_lamp/_lamp.html' %}
      {% include 'app/module/_design/_design.njk' %}
      {% include 'app/module/_video/_video.html' %}
      {% include 'app/module/_ideas/_ideas.html' %}

    </main>

    {% include 'app/module/_footer/_footer.html' %}

    <script src="js-min/index.min.js" defer></script>
  </body>

</html>