.design-title {
    margin-bottom: 25px;
}

.design__inner {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 30px;
    margin-bottom: 120px;
    &-item {
        @extend %dmsans-700;
        background-color: #f8f8f8;
        padding-top: 40px;
        padding-left: 35px;
        padding-bottom: 120px;
        padding-right: 165px;
        overflow: hidden;
        position: relative;
        &:nth-child(3) {
            .design__inner-img {
                padding-right: 30px;
                padding-bottom: 55px;
            }
        }
        &:nth-child(5) {
            .design__inner-img {
                padding-right: 30px;
                padding-bottom: 55px;
            }
        }
    }
    &-title {
        max-width: 170px;
        margin-bottom: 20px;
        font-size: 20px;
        color: $title-color;
        z-index: 10;
        position: relative;
    }
    &-img {
        right: 0;
        bottom: 0;
        position: absolute;
    }
    &-item-type {
        color: $burger-color;
        position: relative;
        z-index: 10;
    }
}

@media (max-width: 1300px) {
    .design {
        &__inner {
            grid-template-columns: repeat(2, 1fr);
        }
    }
}

@media (max-width: 860px) {
    .design {
        &__inner-item {
            padding-top: 25px;
            padding-left: 25px;
        }
        &__inner-title {
            font-size: 16px;
        }
        &__inner-item-type {
            font-size: 14px;
        }
    }
}

@media (max-width: 660px) {
    .design {
        &__inner-item {
            padding-right: 100px;
        }
        &__inner-item:nth-child(3) {
            .design__inner-img {
                padding-bottom: 20px;
            }
        }
        &__inner-item:nth-child(5) {
            .design__inner-img {
                padding-bottom: 10px;
            }
        }
    }
}

@media (max-width: 550px) {
    .design {
        &__inner {
            grid-template-columns: repeat(1, 1fr);
        }
        &__inner-item {
            padding-right: 25px;
        }
    }
}
