<section class="design">
    <div class="container-icon">
        <div class="title design-title">New Design</div>
        {% include '../_mixitup-filter/_mixitup-filter--design.html' %}
        <div class="design__inner">
            <div class="design__inner-item mix category-des-a">
                <h4 class="design__inner-title">Beat Flat Pendant Black</h4>
                <p class="design__inner-item-type">Classic</p><img loading="lazy" class="design__inner-img"
                    src="images/content/products/design-1.png" alt="">
            </div>
            <div class="design__inner-item mix category-des-a">
                <h4 class="design__inner-title">Lampe Sur Pieds Bamboo</h4>
                <p class="design__inner-item-type">Classic</p><img loading="lazy" class="design__inner-img"
                    src="images/content/products/design-2.png" alt="">
            </div>
            <div class="design__inner-item mix category-des-b">
                <h4 class="design__inner-title">Rattan Rocking Chair</h4>
                <p class="design__inner-item-type">Classic</p><img loading="lazy" class="design__inner-img"
                    src="images/content/products/design-3.png" alt="">
            </div>
            <div class="design__inner-item mix category-des-b">
                <h4 class="design__inner-title">Rattan Rocking Chair</h4>
                <p class="design__inner-item-type">Classic</p><img loading="lazy" class="design__inner-img"
                    src="images/content/products/design-4.png" alt="">
            </div>
            <div class="design__inner-item mix category-des-d">
                <h4 class="design__inner-title">Rattan Rocking Chair</h4>
                <p class="design__inner-item-type">Classic</p><img loading="lazy" class="design__inner-img"
                    src="images/content/products/design-5.png" alt="">
            </div>
            <div class="design__inner-item mix category-des-c">
                <h4 class="design__inner-title">Lampe Sur Pieds Bamboo</h4>
                <p class="design__inner-item-type">Classic</p><img loading="lazy" class="design__inner-img"
                    src="images/content/products/design-6.png" alt="">
            </div>
        </div>
    </div>
</section>