.blog {
    padding: 120px 0 0;
    position: relative;
    &__inner {
        display: grid;
        grid-template-columns: 1fr 70px 270px;
        grid-template-areas: "content . aside";
    }
    &__inner.blog__inner-filter::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: #333;
        opacity: 0.5;
    }
    &__content {
        grid-area: content;
    }
    &__item {
        max-width: 830px;
        & + .blog__item {
            margin-top: 50px;
        }
    }
    &__item-top {
        position: relative;
    }
    &__item-img {
        max-width: 830px;
        display: block;
        object-fit: cover;
    }
    &__item-publickdetails {
        display: flex;
        background-color: $burger-color;
        gap: 20px;
        padding: 25px 20px;
        min-width: 275px;
        justify-content: center;
        position: absolute;
        bottom: 0;
    }
    &__item-date,
    &__item-author {
        @extend %rubik-400;
        font-size: 12px;
        color: #fff;
        path {
            fill: #fff;
        }
        span {
            margin-left: 5px;
        }
    }
    &__item-content {
        display: flex;
        flex-direction: column;
        gap: 30px;
    }
    &__item-title {
        @extend %rubik-400;
        margin-top: 30px;
        font-size: 36px;
        line-height: 40px;
        color: $title-color;
    }
    &__item-text {
        @extend %rubik-400;
        color: $accent-color;
        max-width: 800px;
    }
    &__item-btn {
        color: $burger-color;
        border: 1px solid $burger-color;
        font-size: 15px;
        line-height: 12px;
        @extend %nunito-700;
        padding: 20px 65px 20px 20px;
        max-width: 178px;
        background-color: transparent;
        position: relative;
        cursor: pointer;
        &::after {
            content: "";
            position: absolute;
            width: 25px;
            height: 10px;
            right: 20px;
            background-image: url("../images/icons/arrow-dark.svg");
        }
    }
    &-pagination {
        justify-content: flex-start;
    }
}

.blog-recent {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    &__item {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        gap: 15px;
        & + .blog-recent__item {
            margin-top: 20px;
        }
    }
    &__item-title {
        display: block;
        @extend %rubik-400;
        font-size: 14px;
        line-height: 20px;
        color: $title-color;
        max-width: 175px;
        cursor: pointer;
    }
    &__img {
        max-height: 71px;
        object-fit: cover;
    }
    &__date {
        color: $default-color;
        font-size: 12px;
        path {
            fill: $default-color;
        }
    }
}

.filter__link {
    position: absolute;
    top: 45px;
    right: 15px;
    font-size: 25px;
    color: $accent-color;
    text-transform: uppercase;
    background-color: #fff;
    border-radius: 15px;
    padding: 5px 10px;
    z-index: 1;
    display: none;
}

.blog-one {
    .blog__item {
        margin-bottom: 60px;
    }
    &__text-inner {
        h2,
        h3 {
            @extend %rubik-400;
            font-size: 36px;
            line-height: 26px;
            color: $title-color;
            margin: 40px 0px 20px;
        }
        h5.blog-one__title {
            @extend %rubik-500;
            color: $accent-color;
            font-size: 18px;
        }
        h5 {
            @extend %rubik-700;
            color: $accent-color;
            margin-bottom: 10px;
            font-size: 16px;
        }
        p {
            @extend %rubik-400;
        }
        p.blog-one__text {
            color: $accent-color;
            margin-bottom: 40px;
            max-width: max-content;
        }
        div.blog-one__box {
            display: flex;
            align-items: center;
            gap: 30px;
            margin-bottom: 40px;
            p {
                max-width: 450px;
            }
        }
        blockquote {
            @extend %rubik-400;
            color: $accent-color;
            background-color: #ecf1f4;
            border-left: 6px solid $burger-color;
            padding: 25px 90px 25px 35px;
            margin-bottom: 45px;
            display: flex;
            flex-direction: column;
            gap: 10px;
            span {
                width: 100%;
                position: relative;
                padding-left: 40px;
                &::before {
                    content: "";
                    position: absolute;
                    width: 20px;
                    height: 4px;
                    background-color: $burger-color;
                    left: 0;
                    top: 12px;
                }
            }
        }
    }
    &__img {
        width: 323px;
        height: 210px;
    }
}

@media (max-width: 1300px) {
    .blog {
        &__item-img {
            max-width: 100%;
        }
    }
}

@media (max-width: 720px) {
    .blog {
        &__inner {
            grid-template-columns: auto;
            grid-template-areas: none;
        }
    }
}

@media (max-width: 860px) {
    .blog {
        a.filter__link {
            top: -80px;
        }
    }
}

@media (max-width: 550px) {
    .blog {
        &__content {
            margin: 0;
        }
        &__item-publickdetails {
            padding: 15px;
        }
    }
    .blog-one {
        &__text-inner {
            div.blog-one__box {
                flex-direction: column;
                align-items: baseline;
            }
        }
    }
}

@media (max-width: 860px) {
    .filter {
        &__link {
            display: none;
            top: -80px;
        }
    }
}

@media (max-width: 440px) {
    .blog {
        &__item-publickdetails {
            display: none;
        }
        h2,
        h3 {
            font-size: 30px;
        }
        p {
            font-size: 14px;
        }
    }
    .blog-one {
        &__text-inner {
            h2,
            h3 {
                font-size: 30px;
            }
            h5,
            blockquote,
            blockquote span,
            div.blog-one__box p {
                font-size: 14px;
            }
            blockquote {
                padding: 25px;
            }
        }
        &__text,
        &__title {
            font-size: 14px;
        }
    }
}
